version: "3.8"

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    command: bin/rails server -b 0.0.0.0
    env_file:
      - .env
    environment:
      - RAILS_ENV=development
    network_mode: host
