<%= render "shared/card/base", card_class: "bg-base-300 shadow-lg mb-4" do %>
  <%= render "shared/card/header", title: "Feedback" %>

  <% feedback.each do |type, entries| %>
    <div class="mb-6">
      <%= render partial: "shared/card/subtitle", locals: { title: type.to_s.titleize } %>
      <ul class="list-disc list-inside">
        <% entries.each do |message| %>
          <%= content_tag :li, message %>
        <% end %>
      </ul>
    </div>
  <% end %>
<% end %>
