<div class="toast toast-top toast-center" data-controller="autohide" data-autohide-delay-value="5000">
  <% if notice %>
    <div class="alert alert-success">
      <%= icon "check-circle", class: "stroke-current shrink-0 h-6 w-6" %>
      <span><%= notice %></span>
    </div>
  <% end %>
  <% if alert %>
    <div class="alert alert-error">
      <%= icon "x-circle", class: "stroke-current shrink-0 h-6 w-6" %>
      <span><%= alert %></span>
    </div>
  <% end %>
</div>