default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>

development:
  primary:
    <<: *default
    url: "postgres://toolkit:toolkit@localhost:5432/toolkit_development"
  cable:
    <<: *default
    url: "postgres://toolkit:toolkit@localhost:5432/toolkit_development_cable"
    migrations_paths: db/cable_migrate
  cache:
    <<: *default
    url: "postgres://toolkit:toolkit@localhost:5432/toolkit_development_cache"
    migrations_paths: db/cache_migrate
  queue:
    <<: *default
    url: "postgres://toolkit:toolkit@localhost:5432/toolkit_development_queue"
    migrations_paths: db/queue_migrate

test:
  primary:
    <<: *default
    url: "postgres://toolkit:toolkit@localhost:5432/toolkit_test"
  cable:
    <<: *default
    url: "postgres://toolkit:toolkit@localhost:5432/toolkit_test_cable"
    migrations_paths: db/cable_migrate
  cache:
    <<: *default
    url: "postgres://toolkit:toolkit@localhost:5432/toolkit_test_cache"
    migrations_paths: db/cache_migrate
  queue:
    <<: *default
    url: "postgres://toolkit:toolkit@localhost:5432/toolkit_test_queue"
    migrations_paths: db/queue_migrate

production:
  primary:
    <<: *default
    url: <%= ENV["DATABASE_URL"] %>
  cable:
    <<: *default
    url: <%= "#{ENV["DATABASE_URL"]}_cable" %>
    migrations_paths: db/cable_migrate
  cache:
    <<: *default
    url: <%= "#{ENV["DATABASE_URL"]}_cache" %>
    migrations_paths: db/cache_migrate
  queue:
    <<: *default
    url: <%= "#{ENV["DATABASE_URL"]}_queue" %>
    migrations_paths: db/queue_migrate
