<div class="container d-flex justify-content-center align-items-center mt-4">
  <div class="card" style="width: 50%;">
    <div class="card-body">
      <h2 class="card-title text-center">Forgot your password?</h2>
      <%= form_with url: passwords_path, class: "form" do |form| %>
        <div class="mb-3">
          <%= form.email_field :email_address, required: true, autofocus: true, autocomplete: "username", placeholder: "Enter your email address", value: params[:email_address], class: "form-control" %>
        </div>
        <div class="d-flex justify-content-center">
          <%= form.submit "Email reset instructions", class: "btn btn-primary" %>
        </div>
      <% end %>
      <%= link_to "Sign in", new_session_path %>
    </div>
  </div>
</div>
