<div class="mb-3">
  <div class="flex items-center mb-1">
    <span class="text-base-content/60 text-sm mr-2"><%= property %></span>
  </div>
  <span class="font-mono font-medium"><%= value %></span>
</div>
