<div class="mb-6">
  <%= render partial: "shared/card/subtitle", locals: { title: "Activity Config" } %>

  <div>
    <% @activity.config.each do |key, value| %>
      <span class="badge badge-neutral mr-2 mb-2">
        <%= key.to_s.humanize %>:
        <% if value.is_a?(TrueClass) %>
          <span class="text-success">Yes</span>
        <% elsif value.is_a?(FalseClass) %>
          <span class="text-base-content/60">No</span>
        <% elsif value.nil? %>
          <span class="text-base-content/60 italic">Not set</span>
        <% else %>
          <strong><%= value.to_s %></strong>
        <% end %>
      </span>
    <% end %>
  </div>
</div>
