<div class="mb-6">
  <%= form.fields_for :config do |config_form| %>
    <div class="mb-4">
      <h4 class="font-medium mb-3">Transfer mode</h4>
      <div class="flex flex-wrap gap-4">
        <div class="form-control">
          <label class="label cursor-pointer">
            <%= config_form.radio_button :action, "create", class: "radio radio-primary",
                                         checked: config_checked?(activity, "action", "create", true) %>
            <span class="label-text ml-2">Create</span>
          </label>
        </div>

        <div class="form-control">
          <label class="label cursor-pointer">
            <%= config_form.radio_button :action, "update", class: "radio radio-primary",
                                         checked: config_checked?(activity, "action", "update") %>
            <span class="label-text ml-2">Update</span>
          </label>
        </div>

        <div class="form-control">
          <label class="label cursor-pointer">
            <%= config_form.radio_button :action, "create_and_update", class: "radio radio-primary",
                                         checked: config_checked?(activity, "action", "create_and_update") %>
            <span class="label-text ml-2">Create and Update</span>
          </label>
        </div>
      </div>
    </div>
  <% end %>
</div>
